@{
    ViewBag.Title = "Nathan Greene";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>

</hgroup>

<article>
    <p>
        Hello my Name is Nathan Greene. I am currently a PLC/HMI Developer at Parijat Controlware. 
        I am from Houston, Texas and have lived here my whole life mostly in Katy and just outside
        of the loop. Some of my favorite things include basketball, outdoor activities, and my
        lovely fiance. I have just began to barbeque and I am now the official cook for my family 
        and friends. A couple things about me are that I am extremly entergetic and always eager to 
        learn. I am always looking for a challenge and I am never willing to give up.
    
</article>

<aside>
   
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>