
<section class="contact">
    <header>
        <h3>Contact Info</h3>
    </header>
    <p>
        <span class="label">Cell:</span>
        <span>832-360-3195</span>
    </p>
  <p>
        <span class="label">Email:</span>
        <span>nathangreene4610@gmail.com</span>
    </p>
    <p>
         <span class="label">Address:</span>
        2500 Woodland Park Dr Apt C203<br />
        Houston, TX 77077
    </p>
</section>


